################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/FinixBanksApp/FileContentIndex/9f5016c7-46c9-427e-8843-292a2ffa30a2.vsidx
